bgp router-id interface {{devices[inventory_hostname_short]['bgp']['router_id'] }}
{% for agg in devices[inventory_hostname_short].bgp.aggregates %}
aggregate-address {{agg.net}} {{agg.mask}} summary-only
{% endfor %}
{% for neighbor in devices[inventory_hostname_short]['bgp'].neighbors %}
neighbor {{neighbor.ip}} remote-as {{neighbor.as}}
{% if neighbor.as == devices[inventory_hostname_short]['bgp'].as_num %}
neighbor {{neighbor.ip}} next-hop-self
{%endif%}
{% endfor %}